.header
	+position(absolute, 0, 0, auto, 0)
	+transition(all, .4s)
	
	padding-top: 80px 
	z-index: 5
	
	@media (max-height: 950px) and (min-width: 1200px)
		padding-top: 50px 
		
	@media (max-width: 1199px)
		padding-top: 50px 
		
	@media (max-width: 767px)
		padding-top: 60px
		//position: static 
	 
	
	.container-fluid
		height: 100% 
		padding: 0 40px 
		
		@media (max-width: 767px)
			padding: 0 15px
			
		.row
			height: 100%
			
			@media (max-width: 575px)
				margin-left: -5px
				margin-right: -5px  
				
				[class^="col-"]
					padding: 0 5px
	

	.navigation
		display: flex
		align-items: center
		justify-content: flex-end
		flex-wrap: wrap
		
		.page-menu
			@media (max-width: 767px)
				width: 100%
				text-align: right
				margin-bottom: 10px 
				
				li:last-child
					margin-right: 0
					 		
		.btn
			height: 44px
			padding-top: 14px
			padding-bottom: 14px  
			margin-left: 20px 
			
			@media (max-width: 767px)
				font-size: 12px
				padding: 8px 15px 
				height: auto
				margin-left: 0 


	.logo
		@media (max-width: 991px)
			width: 150px
			max-width: 100% 
			display: block
			
			img
				max-width: 100%
				display: block 


.headroom--unpinned
    transform: translateY(-100%)
.headroom--pinned,
.headroom--bottom 
	transform: translateY(0)




/* ------------------------------------ */
/*  NAV STYLES  */

.page-menu
	ul
		list-style-type: none

		li
			display: inline-block
			vertical-align: middle
			margin: 0 10px
			font-size: 16px 
			
			@media (max-width: 575px)
				font-size: 14px
				margin: 0 3px 
				
			@media (max-width: 480px)
				font-size: 13px 
			@media (max-width: 400px)
				font-size: 11px 

			a
				color: #606060
				transition: all .2s 
				&:hover
					color: #EAC16F 




/* ------------------------------------ */
/*  MENU BUTTON  */
.hidden-menu
	position: fixed
	top: 0
	left: 0
	height: 100%
	overflow: auto
	width: 100%  
	background-color: rgba(0,0,0,.9) 
	z-index: 100 
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	color: #FFF  
	opacity: 0
	visibility: hidden
	transition: all .4s  
	h2
		font-size: 42px  
		@media (max-width: 991px)
			font-size: 32px 
		@media (max-width: 767px)
			font-size: 28px 
	&__nav
		list-style-type: none
		li
			display: block
			margin: 20px 0 
			transition: all 1s ease
			opacity: 0
			-webkit-transform: matrix3d(1, 0, 0, 0, 0, 0, 1, 0, 0, -1, 0, 0, -35, 0, 0, 1)
			-ms-transform: matrix3d(1, 0, 0, 0, 0, 0, 1, 0, 0, -1, 0, 0, -35, 0, 0, 1)
			-o-transform: matrix3d(1, 0, 0, 0, 0, 0, 1, 0, 0, -1, 0, 0, -35, 0, 0, 1)
			transform: matrix3d(1, 0, 0, 0, 0, 0, 1, 0, 0, -1, 0, 0, -35, 0, 0, 1) 
			@media (max-width: 991px)
				margin: 10px 0 
			@media (max-width: 767px)
				text-align: center
			a
				color: #FFF
				font-size: 36px
				font-weight: 700   
				transition: all .2s 
				position: relative
				overflow: hidden
				@media (max-width: 991px)
					font-size: 28px 
				@media (max-width: 767px)
					font-size: 24px 
				&:hover
					&:after
						width: 100%  !important
				&:after
					background-image: -webkit-linear-gradient(270deg, $brown-light, $brown-dark)
					-webkit-background-clip: text
					-webkit-text-fill-color: transparent
					color: $brown-light
				&:after 
                    content: attr(data-letters)
                    width: 0
                    position: absolute
                    left: 0
                    -webkit-transition: all 0.3s ease
                    -o-transition: all 0.3s ease
                    transition: all 0.3s ease
                    white-space: nowrap
                    overflow: hidden
	&__info
		text-align: center
		opacity: 0
		transform: translateX(40px) 
		transition: all 1s ease
		.btn
			margin-top: 20px
			margin-bottom: 40px 
			@media (max-width: 991px)
				margin-bottom: 30px 
		h2:not(first-child)
			margin-top: 20px 
			font-weight: 400 
	
.open
	opacity: 1
	visibility: visible 
	.hidden-menu__nav
		li
	  		opacity: 1
		  	-webkit-transform: matrix(1, 0, 0, 1, 0, 0)
		  	-ms-transform: matrix(1, 0, 0, 1, 0, 0)
		  	-o-transform: matrix(1, 0, 0, 1, 0, 0)
		  	transform: matrix(1, 0, 0, 1, 0, 0)
	.hidden-menu__info
		opacity: 1
		transform: translateX(0) 

.menu-button
	border: 0
	position: fixed
	z-index: 100
	top: 0
	left: 50%
	width: 160px
	height: 160px
	border-radius: 50%
	transform: translate(-50%, -50%)
	background: white
	border-radius: 50%
	box-shadow: 0px 0px 30px 0px rgba(84, 116, 213, 0.17)
	cursor: pointer
	transition: .2s ease-in-out
	cursor: pointer
	padding-top: 70px
	&:hover
		box-shadow: 0px 0px 40px 0px rgba(84, 116, 213, 0.3)
	
	@media (max-width: 1199px)
		width: 120px
		height: 120px
		padding-top: 55px 
		
	@media (max-width: 767px)
		width: 100px
		height: 100px
		padding-top: 45px 
	
	.menu-label
		&:last-child
			display: none
	.menu-icon
		display: block
		margin: 0 auto
		
		img
			display: block
			max-width: 100% 
			margin-left: auto 
			margin-right: auto 
			height: 29px 
			&:last-child
				display: none
		@media (max-width: 767px)
			width: 22px
			margin-bottom: 0
	&.is-active
		.menu-label
			&:first-of-type
				display: none
			&:last-child
				display: inline-block
		.menu-icon
			img
				&:first-child
					display: none
				&:last-child
					display: block