.preloader
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	z-index: 110
	background-color: $bg
	text-align: center
	transition: all 1s ease
	
	&.complete
		opacity: 0
		visibility: hidden

	
	.coins
		position: absolute
		top: 5%
		right: 0
		width: 500px
		transition: all 1s ease
		opacity: 0
		visibility: hidden
		z-index: -1
		max-width: 45%
		pointer-events: none
		
	.dragon-im
		position: absolute
		bottom: 0px
		left: 0
		width: 500px
		transition: all 1s ease
		opacity: 0
		visibility: hidden
		z-index: -1
		max-width: 45%
		pointer-events: none
		

	.dragon
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		font-size: 160px
		font-weight: 700  
		color: #fff
		opacity: 0
		visibility: hidden
		transition: all 1s ease
		transition-delay: 1s
		pointer-events: none
		
		@media (max-width: 1199px)
			font-size: 140px
			
		@media (max-width: 991px)
			font-size: 120px
			
		@media (max-width: 767px)
			font-size: 100px 
			
		@media (max-width: 575px)
			font-size: 80px   
			
		@media (max-width: 420px)
			font-size: 60px 
		
		span
			position: relative
			
			&:after
				content: attr(data-char)
				position: absolute
				left: 0
				width: 0
				@extend .text-gradient
				white-space: nowrap
				overflow: hidden
				transition: width 3s ease
				transition-delay: 2s
				
	&.loading
		.dragon
			opacity: 1
			visibility: visible
			
			span
				&:after
					width: 100%
					
		.coins,
		.dragon-im
			opacity: 1
			visibility: visible